<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
 
	
	<div class="kotak_login">
		<img src="logo.png" alt="logo" style="width: 500px;" >
        <h3 >Login</h3>
    <form method="POST" action="login.php">
        <label>Username</label>
        <input type="text" name="username" class="form_login">

        <label>Password</label>
        <input type="text" name="password" class="form_login" >

        <input type="submit" class="tombol_login" value="LOGIN">

        <br/>
        <br/>
        
    </form>
 </div>
		
		
	</div>
 
 
</body>
</html>